.dashboard {
  width: 100%;
  /* position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin: 0 auto;
  /* padding: 10em 10em; */
  text-align: center;
}

.dashboard button {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  width: 100px;
}

.preview {
  color: #445257;
  width: 100%;
  padding: 0px 25px;
}
.preview-question {
  border-bottom: solid #306AAF 3px;
  margin: 1em auto;
  width: 50%;
	font-size: 20px;
  padding-bottom: 5px;
}

.preview-primary-button {
  background-color: #43a047;
  border-style: none;
  color: white;
  font-weight: bold;
}

.preview-button {
  background-color: white;
  border: 2px solid lightgray;
  color: darkgray;
}

.preview-header {
  color:  #1976d2;
  margin-top: 100px;
}

.preview-name {
  font-weight: bolder;
}