.login-form {
  width: 100%;
}



.login-form label {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 1%;
  text-align: left;
  text-transform: uppercase;
}

.login-form input {
  border: 2px solid darkgrey;
  width: 100%;
  padding: 15px;
}

.form-input {
  padding-bottom: 5%;
}

.form-register {
  background-color: black;
  border-style: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 15px;
  width: 100%;
}

.form-error, .form-warning {
  padding-bottom: 10px;
  color: red;
  font-size: 75%;
}

::placeholder {
  color: lightgray;
}