.header-bar {
	display: flex;
	position: fixed;
	padding: 20px 20px;
	justify-content: space-between;
	background-color: #3f51b5;
	top: 0;
	left: 0;
	right: 0;
}
.header-brand-container {
	display: block;
}
.header-buttons-container {
	display: flex;
	align-items: center;
	justify-self: flex-end;
}
.header-buttons-container button {
	border: 0;
	border-radius: 5px;
	background-color: #43a047;
	padding: 8px 12px;
	color: white;
	margin-left: 10px;
}
