.training-input {
	display: block;
	width: 350px;
	margin: 20px 5px;
}
.training-input input {
	border: 0;
	width: 100%;
	outline: 0;
	padding-left: 2px;
	padding-bottom: 5px;
	font-size: 20px;
	margin-bottom: 20px;
	border-bottom: solid #1976d2 3px;
}
.training-input input:disabled {
	background: white;
}
