.training-input {
	display: block;
	padding: 25px 0px;
	margin: 0 auto;
}

.training-input input {
	/* border: 0; */
	outline: 0;
	border: solid #1976d2 3px;
	background: lightblue;

	font-weight: bold;
	font-size: 25px;
	height: 75px;
	width: 200px;
	text-align: center;
}

.training-input input:disabled {
	display: none;
}

@media only screen and (min-width: 768px)  {

	.training-input {
		padding: 50px 0px;
	}

	.training-input input{
		width: 300px;
	}
}

@media only screen and (min-width: 1024px)  {

}
